.Home_Main {
  height: 100vh;
  /* height: 150vh; */
  width: 100%;
  /* background-color: var(--homebg); */
  background: rgb(99, 9, 138);
  background: linear-gradient(
    90deg,
    rgba(99, 9, 138, 1) 0%,
    rgba(125, 1, 178, 1) 42%,
    rgba(125, 1, 178, 1) 69%,
    rgba(49, 1, 83, 1) 100%
  );
  position: relative;
}
.Home_div {
  color: white;
  background: url("../assets/Images/cloud2.png") !important;
}

.Home_span {
  z-index: -1;
}

.Home_span h2 {
  font-size: 2500%;
  font-weight: 800;
  opacity: 0.1;
  float: right;
}
.home_play {
  margin-left: 35%;
}
.Home_span_h2 {
  line-height: 20% !important;
  z-index: 1;
}
.home_cloud {
  position: absolute;
  bottom: 0;
}
